.item.item-divider:hover {

    background-color: slategray !important;
    border-color: slategray !important;
}
.item.item-text-wrap {
    font-family: "Courier New";
    font-weight: bold;
}

.has-errors {
 border: 1px solid red;
}