<ion-view view-title="Menu">
    <ion-content class="padding">
    <div class="item item-body">
    <img class="full-image" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSwSldSUaej7Vc-HRgxBOVA2W_gPyh6iQyq4TJLANMYEn3W5tF4">
        <button class="ptor-lobby-go-question button button-block button-energized" ui-sref="login">
      Login
</button>
        <button class="button button-block button-energized" ui-sref="register" >
          Register
</button>

    </ion-content>
</ion-view>

