<ion-view view-title="Menu">
    <ion-content class="padding">
        <button class="ptor-lobby-go-question button button-block button-energized" ng-click=goToTest() style="color:black">
      Take test
</button>
        <button class="button button-block button-energized" ui-sref="results" style="color:black">
          My Results
</button>
        <button class="button button-block button-energized" ng-click=logout() style="color:black">
          Log Out 
</button>
    </ion-content>
</ion-view>